php.ini
_ss_environment.php
/tools/phing-metadata
/.buildpath
/.project
/.settings
.DS_Store
/tools/phing-metadata/
/*.iml
/vendor/
/public_html/silverstripe-cache
/public_html/assets/*
/public_html/framework
/public_html/cms
/public_html/silverstripe-restfulapi
/public_html/silverstripe.log
/public_html/siteconfig
/public_html/themes/simple
/buildtools
/docsviewer
/reports
config.codekit
node_modules